.education{
    &__title{
        text-align: center;
        background-color: darkblue;
        color: white;
        font-family: 'font-family: 'Montserrat', 'sans-serif';';
    }
    &__section{
        display: flex;
        padding: 5%;
    }
    &__button{
        text-align: center;
        display: flex;
        margin: auto;
        justify-content: center;
        align-items: center;
        align-self: center;
        padding: 15px;
        background-color: darkblue;
        color: white;
        font-weight: bold;
        &:hover{
            cursor: pointer;
            border-color: gold;
        }
     
    }
}