.portfolio{
    margin-top: 10%;
    &__title{
        text-align: center;
        background-color: darkblue;
        color: white;
        font-family: 'font-family: 'Montserrat', 'sans-serif';';
    }
}