.experience{
    &__title{
        text-align: center;
        background-color: darkblue;
        color: white;
        font-family: 'font-family: 'Montserrat', 'sans-serif';';
    }
    &__section{
        display: flex;
        padding: 5%;
    }
}